<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="AgentTrail" Manufacturer="AgentTrail" Version="0.7.0" UpgradeCode="8c25f5d3-0e8b-4f8b-ae03-000000000701">
    <MajorUpgrade DowngradeErrorMessage="A newer version of AgentTrail is already installed." />
    <Feature Id="Main" Title="AgentTrail" Level="1">
      <ComponentGroupRef Id="AgentTrailFiles" />
    </Feature>
  </Package>
  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="AgentTrail" />
    </StandardDirectory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AgentTrailFiles" Directory="INSTALLFOLDER">
      <Component>
        <File Source="desktop\windows\AgentTrail.cmd" />
      </Component>
      <Component>
        <File Source="desktop\windows\AgentTrail-Tray.ps1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
